# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
dist/
build/
output/
*.egg-info/
.eggs/
.venv


# PyPI publishing
.pypirc
*.whl
*.tar.gz

# IDEs
.vscode/

# Project specific
downloads/
temp/
test/
reports/
exports/


# Logs
*.log
logs/
